:root {
   --gridSize: 16;
   --color: #000000;
}

html {
   font-family: Roboto;
   text-align: center;
}

body {
   background: #003570;
}

#inputGrid {
   margin: auto;
   padding: none;
   width: 75px;
   margin-top: 20px;
}

input[type=text] {
   text-align: center;
   margin-left: -3.1px;
   width: inherit;
   background-color: #2196f3;
   color: white;
   font-size: 17px;
}

label {
   color: rgb(245, 245, 245);
   padding: 20px 0 3px 0;
}

input[type=text]:focus {
   outline: none;
}

#grid-container {
   transition: all 0.5s;
   border: 5px outset rgb(120, 120, 120);
   border-radius: 5px;
   background-clip: padding-box;
   display: grid;
   background: white;
   height: 640px;
   width: 640px;
   grid-template-columns: repeat(var(--gridSize), 1fr);
   margin: auto;
   box-shadow: 25px 25px 90px -5px rgba(0, 0, 0, 0.8);
}

.grid-item {
   transition: all 0.1s;
   display: inline-block;
   cursor: crosshair;
   background: rgb(235, 235, 235);
   /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.btn-nav {
   padding: 20px;
   width: 400px;
   margin: auto;
}

.btn {
   cursor: pointer;
   background-color: #2196f3;
   border: none;
   color: white;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 5px;
   box-shadow: 9px 9px 27px -5px rgba(0, 0, 0, 0.8);
   transition: all 0.4s;
}

.btn:hover {
   color: #0e83cd;
   background: #fff;
}

.btn:active {
   color: rgb(239, 21, 83);
   background: #fff;
}

#Rainbow2 {
   padding-left: 1.55em;
   width: 110px;
   text-align: center;
}

#pencil {
   width: 110px;
}
